html {
  height: 100%;
  overflow: hidden;
  font-size: 1rem;
  word-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

body {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Roboto;
}

h1 {
   font-size: 400% !important;
}

h2 {
  font-size: 250% !important;
}

p {
  font-size: 140%;
  line-height: 150%;
}

footer {
  text-align: center;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}

.img-trans {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.img-trans:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.img-trans:hover {filter: blur(2px) saturate(40%);-webkit-filter: blur(2px) saturate(40%);}

.slide:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #efefef;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("../img/1.jpg");
  z-index:2;
}

#title h1 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
}

#slide1:before {
  background-image: url("../img/2.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide1 {
  color: #444 !important;
}

#slide2 {
  background-image: url("../img/3.jpg");
  z-index:2;
}

#slide3:before {
  background-image: url("../img/4.jpg");
  transform: translateZ(-1px) scale(2);
}

#button-up {
  display: block;
  border-radius: 4%;
  background-color: #007879;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  float: right;
  top: 85%;
  right: 5%;
  text-align: center;
  box-shadow: 0 0 1px 2px rgba(1, 1, 1, 0.3);
  min-width: 96px;
  min-height: 48px;
  max-width: 160px;
  max-height: 80px;
  width: 4%;
  height: 2%;
  font-size: 1.25em;
  text-decoration: none;
}

#button-up:hover {
  background-color: #00bbbf;
}

#button-up:active {
  background-color: #42fcff;
}

#button-up {
  font-size: 1.25em;
  text-decoration: none;
  color: #efefef;
}

@media (max-width: 768px) {
    .img-trans {
      display: none;
    }
  }

@media (max-width: 1024px) {
  #canvas {
    max-height: 250px;
  }

  #title h1 {
    transform: translateY(-125px);
  }
}

@media (max-width: 1600px) {
  #canvas {
    max-height: 300px;
  }

  #title h1 {
    transform: translateY(-250px);
  }
}

@media (min-width: 1601px) {
  #canvas {
    max-height: 350px;
  }

  #title h1 {
    transform: translateY(-250px);
  }
}

#canvas {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.375);
}

.dark-bg {
  background-color: #002324;
  color: #efefef;
}

.dark-blue-bg {
  background-color: #003c3d;
}

.mid-dark-blue-bg {
  background-color: #007879;
}

.mid-light-blue-bg {
  background-color: #00bbbf;
}

.light-blue-bg {
  background-color: #42fcff;
}

.light-text {
  color: #efefef
};

.img-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-grayscale:hover {
  -webkit-filter: none !important;
  filter: none !important;
}
