/*anchor style rules*/
a {
  /text-decoration: none;
  color: #efefef !important;
}

a:visited {
  text-decoration: none !important;
  color: #dedede !important;
}

a:hover {
  text-decoration: none !important;
    color: #088!important;
}

a:active {
  text-decoration: none !important;
  color: #084 !important;
}

/*header section*/
/*canvas*/
#canvas {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.375);
}

@media only screen and (max-width: 768px) {
    #canvas {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #canvas {
        max-height: 250px;
    }
}

@media only screen and (max-width: 1600px) {
    #canvas {
        max-height: 300px;
    }
}

@media only screen and (min-width: 1601px) {
    #canvas {
        max-height: 400px;
    }
}

/*image style rules*/
.img-max-width {
    width: 100%
}

.img-one-third-width {
    width: 33%;
}

.img-max-width:hover {
    filter: blur(2px) saturate(40%);
    -webkit-filter: blur(2px) saturate(40%);
}

.img-grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0, Chrome 19+ */
  filter: grayscale(100%);
}

.img-grayscale:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

/*background colors*/
.dark-bg {
  background-color: #002324;
  color: #efefef;
}

.dark-blue-bg {
  background-color: #003c3d;
}

.mid-dark-blue-bg {
  background-color: #007879;
}

.mid-light-blue-bg {
  background-color: #00bbbf;
}

.light-blue-bg {
  background-color: #42fcff;
}

/*footer section*/
footer {
    padding-top: 1em;
    text-align: center;
    font-size: 1.125em;
}
