/*body style rules for optimal working with bootstrap navbar*/
body {
    padding-top: 70px;
    width: 100%
}

/*anchor style rules*/
a {
  /text-decoration: none /*!important*/;
  color: #efefef !important;
}

a:visited {
  text-decoration: none !important;
  color: #dedede !important;
}

a:hover {
  text-decoration: none !important;
    color: #444444!important;
}

a:active {
  text-decoration: none !important;
  color: #448844 !important;
}

/*header section*/
/*canvas*/
#canvas {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.375);
}

@media only screen and (max-width: 768px) {
    #canvas {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    #canvas {
        max-height: 250px;
    }
}

@media only screen and (max-width: 1600px) {
    #canvas {
        max-height: 300px;
    }
}

@media only screen and (min-width: 1601px) {
    #canvas {
        max-height: 400px;
    }
}

/*image style rules*/
.image-rounded{
  border-radius: 50%;
}

.block-img {
  width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0, Chrome 19+ */
  filter: grayscale(100%);
}

.block-img:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

/*background colors*/
.dark-bg {
  background-color: #002324;
  color: #efefef;
}

.dark-blue-bg {
  background-color: #003c3d;
}

.mid-dark-blue-bg {
  background-color: #007879;
}

.mid-light-blue-bg {
  background-color: #00bbbf;
}

.light-blue-bg {
  background-color: #42fcff;
}

.light-text {
  color: ;
}

.dark-text {
  color: #222222 !important;
}

/*footer section*/
footer {
    text-align: center;
    font-size: 1.125em;
}

.btn-social {
  width: 100%;
}

.btn-social a img {
  width: 33%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0, Chrome 19+ */
  filter: grayscale(100%);
}

.btn-social a img:hover {
  -webkit-filter: none !important;
  filter: none !important;
}
