$gruvbox-dark1: "#";
$gruvbox-dark2: "#";
$gruvbox-dark3: "#";
$gruvbox-dark4: "#";
$gruvbox-lightgrey: "#";
$gruvbox-white1: "#dfbf8e";
$gruvbox-white2: "#d0b386";
$gruvbox-white3: "#c3a880";

$theme-colors: (
    "blue": #68948a,
    "indigo": #6610f2,
    "purple": #ab6c7d,
    "pink": #e83e8c,
    "red": #ea6962,
    "orange": #bd6f3e,
    "yellow": #c18f41,
    "green": #8f9a52,
    "teal": #20c997,
    "cyan": #17a2b8,
    "white": #fff,
    "gray": #6c757d,
    "gray-dark": #928374,
    "primary": #007bff,
    "secondary": #a89984,
    "success": #28a745,
    "info": #72966c,
    "warning": #ffc107,
    "danger": #b85651,
    "light": #eaca99,
    "dark": #1d2021,
    "dark-1": #3c3836,
    "dark-2": #504945,
    "dark-3": #665c54,
    "dark-4": #7c6f64,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-vue/src/index";